################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DR_APIs/.vs
/DR_APIs/bin/Debug/net8.0
/DR_APIs/obj
/MeetArchiver/bin/Debug/net8.0-windows
/MeetArchiver/obj
/DRArchiverSetuop/Debug
